/* *
{

  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  
} */

@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #07161b;

  font-family: "Ubuntu", sans-serif;
}

.container {
/* float: right; */
  width: 100%;
  max-width: 90%;
  
  padding:5%;
  margin: auto;
  background: #07161b;
  border-radius: 1rem;
  border: 1px solid #222;
  box-shadow: 0px 0px 34px -8px rgba(0, 0, 0, 0.55);
}

.accordion {
  background-color: #333;
  color: #eee;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  border: 1px solid #222;
  text-align: left;
  outline: none;
  font-size: 1rem;
  transition: all 0.4s ease-out;
  box-shadow: 0px 0px 34px -8px rgba(24, 1, 1, 0.75);
}

.accordion:first-child {
  border-radius: 1rem 1rem 0 0;
}

.accordion:nth-last-child(1) {
  border-radius: 0 0 1rem 1rem;
}

.active,
.accordion:hover {
  background-color: #1e858f;
}

.accordion:after {
  content: "\002B";
  color: #eee;
  font-weight: bold;
  float: right;
  margin-left: 0.5rem;
}

.active:after {
  content: "\2212";
}

.accordion-content {
  padding: 0 1rem;
  background-color: #222;
  color: #aaa;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-content ul {
  list-style-type: circle;
  margin: 1rem 0;
  padding: 0.2rem;
}

.accordion-content ul li {
  padding: 0.2rem 0;
}

/*Buttons*/

.button_1{
  border: none;

  background: #1a1717;
  color: #ffffff !important;
  font-weight: 100;
  padding: 20px;
  position: fixed;

  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  }
  .button_1{

      bottom: 60px;
      right: 10px; 
  }  

  .button_1:hover {
      color: #404040 !important;
      font-weight: 700 !important;
      letter-spacing: 3px;
      background: none;
      transition: all 0.3s ease 0s;
      }
      
  
.container{
  /* padding-top: 65vh; */
  margin: 50;
  position:  fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  
}
.container2{
  margin: 50;
  position:  fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  
}
.row{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  text-align:center;
  padding:8px 1%;
}

h3{
  display:block;
  width:100%;
  margin:10px 10px 20px;
}
h3.txt-white{
  color:#fff;
}
.btn{
  flex: 1 auto;
  margin:5px;
  padding:10px 25px;
  text-align:center;
  background:#eee;
  transition: all 0.5s ease-out;
  cursor:crosshair;
}


  /* ---- luxury btns ------------ */
  .luxury{ /* block background */
    background-color:#07161b;
  }
  .luxury .btn{ /* general */
    background:transparent;
    background-position: 1% 50%;
    background-size: 300% 300%;
    color:#fff;
  }
  
  .luxury .btn-1{ /* inspired by https://codepen.io/dbox/pen/bdzeEw */
    color: rgba(255,255,255,0.8);
    border: 1px solid rgba(255,255,255,0.3);
    background-image: linear-gradient(270deg, rgba(255,255,255,.9), rgba(255,255,255,.9), rgba(255,255,255,0), rgba(255,255,255,0));
  }
  .luxury .btn-1:hover{
    border-color:transparent;
    color:#161616;
    background-position: 99% 50%;
  }
  
  .luxury .btn-2{
    border:1px solid rgba(255,255,255,0);
    background-image: linear-gradient(45deg, transparent 0%, transparent 75%, rgba(255,255,255,0.8) 75%, transparent 100%);
  }
  .luxury .btn-2:hover{
    border:1px solid rgba(255,255,255,0.5);
    background-position:150% top;
  }
  
  .luxury .btn-3{
    background-image: linear-gradient(45deg, transparent 0%, rgba(255,255,255,0.5) 51%, transparent 100%);  
  }
  .luxury .btn-3:hover{
    background-position:right top;
  }
  
  .luxury .btn-4{
    border:1px solid rgba(255,255,255,.5);
    box-shadow:0 0 20px 0 rgba(255,255,255,.5) inset;
  }
  .luxury .btn-4:hover{
    box-shadow:0 0 50px 2px rgba(255,255,255,.5) inset;
  }
  
  /* ---- border btns ---- */
  .border{ /* block background */
    background-color:#0d47a1;
  }
  .border .btn{ /* general */
    background:transparent;
    color:#fff;
  }
  
  .border .btn-1{
    padding:5px 25px;
    border:1px solid rgba(255,255,255,.3);
    outline:1px solid rgba(255,255,255,.8);
    outline-offset:3px;
  }
  .border .btn-1:hover{
    border:1px solid #fff;
    outline:1px solid rgba(255,255,255,.3);
  }
  
  .border .btn-2{
    border-top:1px solid transparent;
    border-bottom:1px solid transparent;
    border-image: linear-gradient(to right, rgba(255,255,255,0) 10%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 90%);
    border-image-slice: 1;
  }
  .border .btn-2:hover{
    border-image-slice:30;
  }
  
  .border .btn-3{
    padding:5px 25px;
    outline:1px solid rgba(255,255,255,.3);
    outline-offset:5px;
  }
  .border .btn-3:hover{
    outline:1px solid rgba(255,255,255,1);
    outline-offset:2px;
  }
  
  .border .btn-4{
    outline:1px solid rgba(255,255,255,.8);
    outline-offset:0;
  }
  .border .btn-4:hover{
    outline:1px solid rgba(255,255,255,0);
    outline-offset:5px;
  }
  
  
  .border_plus .btn-4:before,
  .border_plus .btn-4:after,
  .border_plus .btn-4 span:before,
  .border_plus .btn-4 span:after{
    content:'';
    display:block;
    width: 0;
    height: 0;
    background:#000000;
    position: absolute;
    margin:auto;
    transition:.4s .4s;
  }
  .border_plus .btn-4:before,
  .border_plus .btn-4 span:before{
    height: 1px;
  }
  .border_plus .btn-4:after,
  .border_plus .btn-4 span:after{
    width: 1px;
  }
  .border_plus .btn-4 span:before{
    top: 0;
    left: 0;
  }
  .border_plus .btn-4:before{
    bottom: 0;
    right: 0;
  }
  .border_plus .btn-4 span:after{
    bottom: 0;
    left: 0;
  }
  .border_plus .btn-4:after{
    top: 0;
    right: 0;
  }
  .border_plus .btn-4:hover{
    background:#000;
    color:#fff;
    transition:.4s .4s;
  }
  .border_plus .btn-4:hover span:before,
  .border_plus .btn-4:hover:before{
    width: 100%;
    transition:.4s 0s;
  }
  .border_plus .btn-4:hover:after,
  .border_plus .btn-4:hover span:after{
    height: 100%;
    transition:.4s 0s;
  }
  
  .head
  {

    color:orange;
    margin: 3%;
    padding: 2%;
    text-align: center;
    
  }