
body {
  font-family: 'Raleway', sans-serif;
  float: left;
  font-size: 18px;
  margin: 0;
  padding-top: 15%;
  padding-left: 5%;
  background:url(/img/profile_cover_2.jpg) no-repeat;
 
background-attachment: fixed;
background-size: cover;

}


h1,h2 {
  color: rgb(245, 242, 238);
  font-weight: 100;
  
}
h1 { font-size: 50px }
h2 {
  color: rgb(209, 176, 176);
  font-size: 60px;
}

/*Buttons*/

.button_1{
    border: none;

    background: #1a1717;
    color: #ffffff !important;
    font-weight: 100;
    padding: 20px;
    position: fixed;

    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    }
    .button_1{

        bottom: 40px;
        left: 10px; 
    }  

    .button_1:hover {
        color: #404040 !important;
        font-weight: 700 !important;
        letter-spacing: 3px;
        background: none;
        transition: all 0.3s ease 0s;
        }



        .button_2{
    border: none;
    background: #1a1717;
    color: #ffffff !important;
    font-weight: 100;
    padding: 20px;
    position: fixed;

    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    }
            .button_2{
        
                bottom: 40px;
                left:500px; 
            }  
        
            .button_2:hover {
                color: #404040 !important;
                font-weight: 700 !important;
                letter-spacing: 3px;
                background: none;
                transition: all 0.3s ease 0s;
                }
            

                .button_3{
                    border: none;

    background: #1a1717;
    color: #ffffff !important;
    font-weight: 100;
    padding: 20px;
    position: fixed;

    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    }
                    .button_3{
                        bottom: 40px;
                        left: 300px;
                    }  
                
                    .button_3:hover {
                        color: #404040 !important;
                        font-weight: 700 !important;
                        letter-spacing: 3px;
                        background: none;
                        transition: all 0.3s ease 0s;
                        }
  /*SOCIAL MEDIA*/  
 
 @import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body {

    -webkit-font-smoothing: antialiased;
}


._12 {
    font-size: 1.2em;
}
._14 {
    font-size: 1.4em;
}
ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {

 
    width: 350px; 
  
    }
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-rss {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-rss:hover {
    background-color: #eb8231;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-github:hover {
    background-color: #5a32a3;
}