
body {
    /* font-family: 'Saira Semi Condensed', sans-serif; */
    font-family: 'Raleway', sans-serif;
    /* font-weight:300; */
  
    margin:0;
    padding: 50px;
    background:url(/img/cover_text.jpg) no-repeat;
    background-position: center center;
    background-attachment:   fixed;
    background-size: cover;
    background-color: #464646;
    overflow: hidden;

}

#intro{
  color:whitesmoke;
  font-size: 280%;
  margin-top: 5%;
  margin-left: 10%;
  font-size: 150%;
}
#scroll{
  margin-left: 10%;
  color:rgb(221, 115, 29);
  
  font-size: 140%;
  /* font-family: cursive; */
}
/*Buttons*/

.button_1{
    border: none;

    background: #1a1717;
    color: #ffffff !important;
    font-weight: 100;
    padding: 20px;
    position: fixed;

    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    }
    .button_1{

        bottom: 40px;
        left: 10px; 
    }  

    .button_1:hover {
        color: #404040 !important;
        font-weight: 700 !important;
        letter-spacing: 3px;
        background: none;
        transition: all 0.3s ease 0s;
        }



        .button_2{
    border: none;
    background: #1a1717;
    color: #ffffff !important;
    font-weight: 100;
    padding: 20px;
    position: fixed;

    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    }
            .button_2{
        
                bottom: 40px;
                left:500px; 
            }  
        
            .button_2:hover {
                color: #404040 !important;
                font-weight: 700 !important;
                letter-spacing: 3px;
                background: none;
                transition: all 0.3s ease 0s;
                }
            

                .button_3{
                    border: none;

    background: #1a1717;
    color: #ffffff !important;
    font-weight: 100;
    padding: 20px;
    position: fixed;

    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    }
                    .button_3{
                        bottom: 40px;
                        left: 300px;
                    }  
                
                    .button_3:hover {
                        color: #404040 !important;
                        font-weight: 700 !important;
                        letter-spacing: 3px;
                        background: none;
                        transition: all 0.3s ease 0s;
                        }
  /*SOCIAL MEDIA*/  
 
 @import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body {

    -webkit-font-smoothing: antialiased;
}


._12 {
    font-size: 1.2em;
    
}
._14 {
    padding-top: 50%;
    font-size: 1.4em;
    color: rgb(92, 116, 54);
    font-weight: bold;
    
}
ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {

    /* padding-bottom: 5%; */
    /* width: 250px;  */
    position: fixed;
  
    }
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-instagram {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.fa-instagram:hover {
  background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-rss {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-rss:hover {
    background-color: #eb8231;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-github:hover {
    background-color: #290f5a;
}

  
.container{
  padding-top: 65vh;
  margin: 0;
  position:  fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  
}
.container2{
  /* padding-top: 65vh; */
  /* margin-top: %; */
  position:  relative;
  float:right;
  width: 10%;

  
}
.row{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  text-align:center;
  padding:8px 1%;
}

h3{
  display:block;
  width:100%;
  margin:10px 10px 20px;
}
h3.txt-white{
  color:#fff;
}
.btn{
  flex: 1 auto;
  margin:5px;
  padding:10px 25px;
  text-align:center;
  background:#eee;
  transition: all 0.5s ease-out;
  cursor:crosshair;
}

/* ---- gradient btns ---- */
/* inspired by https://codepen.io/pirrera/pen/bqVeGx
   gradient from https://webgradients.com */
.gradient{ /* block background */
  background-color:#fff;
}
.gradient .btn{ /* general */
  color:#fff;
  border-radius:4px;
  background-size: 200% auto;
  box-shadow:0px 0px 15px 0 rgba(0,0,0,.1);
}
.gradient .btn:hover{
  background-position: right center;
}

.gradient .btn-1{
  background-image: linear-gradient(to right, #5ee7df 0%, #b470ca 51%, #5ee7df 100%);
}
.gradient .btn-2{
  background-image: linear-gradient(135deg, #ee9ca7 0%, #fbed96 51%, #ee9ca7 100%);
}
.gradient .btn-3{
  background-image: linear-gradient(to right, #ffc4c4 0%, #a3b6ff 51%, #ffc4c4 100%);
}
.gradient .btn-4{
  background-image: linear-gradient(to right, #EAECC6 0%, #2BC0E4 51%, #EAECC6 100%);
}
.gradient .btn-5{
  background-image: linear-gradient(45deg, #ace0f9 0%, #fff1eb 51%, #ace0f9 100%);
}


/* ---- luxury btns ---- */
.luxury{ /* block background */
  background-color:#151b27;
}
.luxury .btn{ /* general */
  background:transparent;
  background-position: 1% 50%;
  background-size: 300% 300%;
  color:#fff;
}

.luxury .btn-1{ /* inspired by https://codepen.io/dbox/pen/bdzeEw */
  color: rgba(255,255,255,0.8);
  border: 1px solid rgba(255,255,255,0.3);
  background-image: linear-gradient(270deg, rgba(255,255,255,.9), rgba(255,255,255,.9), rgba(255,255,255,0), rgba(255,255,255,0));
}
.luxury .btn-1:hover{
  border-color:transparent;
  color:#161616;
  background-position: 99% 50%;
}

.luxury .btn-2{
  border:1px solid rgba(255,255,255,0);
  background-image: linear-gradient(45deg, transparent 0%, transparent 75%, rgba(255,255,255,0.8) 75%, transparent 100%);
}
.luxury .btn-2:hover{
  border:1px solid rgba(255,255,255,0.5);
  background-position:150% top;
}

.luxury .btn-3{
  background-image: linear-gradient(45deg, transparent 0%, rgba(255,255,255,0.5) 51%, transparent 100%);  
}
.luxury .btn-3:hover{
  background-position:right top;
}

.luxury .btn-4{
  border:1px solid rgba(255,255,255,.5);
  box-shadow:0 0 20px 0 rgba(255,255,255,.5) inset;
}
.luxury .btn-4:hover{
  box-shadow:0 0 50px 2px rgba(255,255,255,.5) inset;
}
.social {
  width: 200px;
  height: 220px;
  position: fixed;
  margin-top: 30px;
  perspective: 1000px
}

.social li a {
  display: block;
  height: 20px;
  width: 40px;
  background: #222;
  border-bottom: 1px solid #333;
  font: normal normal normal
  16px/20px 
  'FontAwesome', 'Source Sans Pro', Helvetica, Arial, sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  transition: background .5s ease .300ms
}

.social li:first-child  a:hover { background: #3b5998 }
.social li:nth-child(2) a:hover { background: #00acee }
.social li:nth-child(3) a:hover { background: #ea4c89 }
.social li:nth-child(4) a:hover { background: #dd4b39 }

.social li:first-child a { border-radius: 0 5px 0 0 }
.social li:last-child  a { border-radius: 0 0 5px 0 }
    
.social li a span {
  width: 100px;
  float: left;
  text-align: center;
  background: #222;
  color: #fff;
  margin: -25px 74px;
  padding: 8px;
  transform-origin: 0;
  visibility: hidden;
  opacity: 0;
  transform: rotateY(45deg);
  border-radius: 5px;
  transition: all .5s ease .300ms
}

.social li span:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: -20px;
  top: 7px;
  border: 10px solid transparent;
  border-right: 10px solid #222;
}

.social li a:hover span {
  visibility: visible;
  opacity: 1;
  transform: rotateY(0)
}